<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Ecomm</title>
</head>

<body>
  <div class="grid-container">
    <header class="row">
      <div>
        <a class="brand" href="index.html">ecomm</a>
      </div>
      <div>
        <a href="cart.html">Carrinho</a>
        <a href="signin.html">Entrar</a>
      </div>
    </header>
    <main>
      <div>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Camisa Nike</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">R$ 120,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa2.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Camisa Nike Polo</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">R$ 130,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa3.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Camisa Nike Polo</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">R$ 140,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Camisa Nike Polo</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">R$ 150,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa5.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Camisa Nike Baby</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">R$ 100,00</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/camisa6.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Regata</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star-half-o"></i> </span>
              </div>
              <div class="price">R$ 90,00</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row center">Todos os direitos reservados</footer>
  </div>
</body>

</html>